<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to the Flask Demo</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"/>

    <script>
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "http://localhost:5000/api/users/3000",
            "method": "GET",
            "headers": {
                "cache-control": "max-age=3600",
            }
        }

        // Print list of SSIDs
        $.ajax(settings).done(function(response){
            response.forEach(function(currentValue){
                    $('.marketing .col-lg-6').append('<p>' + currentValue.fname + ' ' + currentValue.lname + '</p>');
                console.log(currentValue);
            });
        });
    </script>
</head>


<body>

<div class="container">
    <div class="header">
        <h3 class="text-muted">Python Flask App</h3>
    </div>

    <div class="jumbotron">
        <h1>Flask API Demo</h1>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Welcome to this Demo</h4>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; JP Villavicencio 2016</p>
    </footer>

</div>
</body>
</html>